@*@model int*@
@*@model e_Learning.Models.clsSinhVien*@
@model List<e_Learning.Models.clsSinhVien>

@{
    ViewBag.Title = "Home";
    ViewBag.active = 1;
    ViewBag.LstSinhVien = new List<string> { "Dương Mộng Khánh", "Khanh Maxio" };
    //e_Learning.Models.clsSinhVien sinhVien1 = (e_Learning.Models.clsSinhVien)ViewBag.sinhVien1;
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}

<main>
    <h2 style="margin: 50px">Cách 1: Truyền dữ liệu từ ViewBag - Giai thừa của a là @ViewBag.a</h2>

    @*<h2 style="margin: 50px">Cách 1: Đón dữ liệu từ 1 class truyền vào từ ViewBag. Đây là kết quả @sinhVien1.hoTen , @sinhVien1.maSV , @sinhVien1.queQuan </h2>*@

    @*<h2 style="margin: 50px">Cách 2: Truyền từ hàm View() trong controller. Đây là kết quả @Model</h2>*@

    @*<h2 style="margin: 50px">Cách 2: Đón dữ liệu từ 1 class truyền vào View(). Đây là kết quả @Model.hoTen, @Model.maSV, @Model.queQuan </h2>*@
    <div style="margin: 50px">
        <h4>Danh sách nhân viên</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Mã sinh viên</th>
                    <th>Họ và tên</th>
                    <th>Quê quán</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.maSV</td>
                        <td>@item.hoTen</td>
                        <td>@item.queQuan</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>
