@model List<e_Learning.Models.MayTinh>

@{
    ViewBag.Title = "About";
    ViewBag.active = 2;
    ViewBag.LstSinhVien = new List<string> { "Dương Mộng Khánh", "Khánh Mộng" };
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}

<main>
    <div style="margin: 50px">
        <h2 style="margin: 50px">Danh sách máy tính sắp xếp giảm dần</h2>
        <p><a href="~/About/">Danh sách tất cả máy tính</a></p>
        <P><a href="~/About/GetHaiMayGiaThapNhat">Hai máy giá thấp nhất</a></P>
        <P><a href="~/About/SapXepGiam">Sắp xếp giá tăng dần giá bán</a></P>
        <P><a href="~/About/HangAsus">Lọc máy tính thuộc hãng Asus</a></P>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Mã máy</th>
                        <th>Dòng máy</th>
                        <th>Giá bán</th>
                        <th>Ngày sản xuất</th>
                        <th>Hãng sản xuất</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.maMay</td>
                            <td>@item.dongMay</td>
                            <td>@string.Format("{0:#,0}", item.giaBan)</td>
                            <td>@string.Format("{0:dd-MM-yyyy}", item.ngaySanXuat)</td>
                            <td>@item.hangSanXuat</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</main>

